html {
    font-family: 'Just Another Hand';
    height: 100%;
    padding: 5% 15%;
    margin: auto;
    background-image: linear-gradient(#ffe3b9 20%, rgb(255, 253, 139) 100%);
}

.paper{
    background-color: #fffddf;
    border: 1px solid #e7ab93;
    box-shadow: #e68c69;
}

table {    
    margin: auto;
    width: 70%;
}

h1 {
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 3px;
    padding: 30px 80px 0px;
    border-bottom: 1px solid #9c6a56 ;
}

td {
    padding-top: 30px;
}

.link{
    font-size: 25px;
    color: #000000;
    padding: 0px 35px;
}
