*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Saira Extra Condensed', sans-serif;
    text-align: center;
}

html {
    background-color: #ffe0d8;
    background-image: linear-gradient(#ffe0d8, #fdf7d6);
    color: #e90941;
    height: 100%;
}

#container {
    margin: 50px 20px;
}

h1 {    
    font-size: 10vw;
    text-shadow: 4px 4px 3px #ffe96a6e;
    letter-spacing: 1vw;
    color: #e90941;
}

#wrapper{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

img {
    height: 40vh;
    filter: drop-shadow(1vw 1vw 5px #e9094173);
}

p{
    font-size: 3.3vw;
    font-weight: bolder;
    text-align: justify;
    margin: auto 20px;
}

a{
    font-size: 4.2vw;
    font-weight: bold;
    color: #e90941;
}

a:hover{
    color: #fd3b00;
}
