*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Saira Extra Condensed', sans-serif;
    text-align: center;
}

html {
    background-color: #fff9c5;
    height: 100%;
}

#container {
    margin: 50px 20px;
}

h1 {    
    font-size: 7.5vw;
    text-shadow: 4px 4px 3px #ffe96a6e;
    letter-spacing: 1vw;
    color: #e90941;
}

#wrapper{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

#wrapper img {
    height: 40vh;
    border: 3px solid #e90941;
    filter: drop-shadow(0.75vw 0.75vw #e90941);
}

.bubble {
    width: 100%;
    background-color: #e90941;
    border-radius: 10px;
    height: 30vh;
}

.bubble p {
    color: #ffe0d8;
    font-size: 2vw;
    font-weight: bolder;
    text-align: justify;
    margin: 30px 20px;
    padding: 0 15px;
}

a{
    font-size: 3vw;
    font-weight: bold;
    color: #e90941;
}

a:hover{
    color: #fd3b00;
}

.link img{
    height: 20px;
    width: 20px;
}

.link p{
    font-size: 2vw;
    color: #e90941;
}
