* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Saira Extra Condensed', sans-serif;
}

html {
    background-image: linear-gradient(#e90941 40%, #ffab4b);
    height: 100%;
}

.main-home {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin: 0;
    font-size: 8vw;
    text-shadow: 4px 4px 3px#bb0e0eb2;
    letter-spacing: 1vw;
    color: #ffe0d8;
}

#nav {
    margin: 0;
    display: inline-flex;
    justify-content: space-between;
    background-color: #ffe0d8;
}

#nav a {
    font-size: 3vw;
    font-weight: bold;
    color: #e90941;
    padding: 0px 8.5vw;
}

#nav a:hover {
    color: #fd3b00;
}
